<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>paybear</name>
    <displayName><![CDATA[Crypto Payment Gateway for PrestaShop by PayBear.io]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Allows to accept crypto payments such as Bitcoin (BTC) and Ethereum (ETH)]]></description>
    <author><![CDATA[PayBear]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>